*{
    margin:0px auto;
    padding: 0px auto;
    /*font-family: 'Roboto', sans-serif; (Secciones)*/
    /*font-family: 'Lato', sans-serif; titulos*/
}

/*1) Estilos templateSignIn*/

/*DESKTOP*/

#containersocialnetwork{
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-direction: row;   
    height: 100vh;   
    align-items: center; 
    background-color:#FAFAFA;
}

#signinview{
    display: flex;   
    flex-direction: column; 
    background-color:white; 
    width: 50%; 
    height: 80%;
    justify-content: center;
}

#signinview h2, #signinview h5 {
    color:#4B4B4B; 
}

.elementsignin{
    width: 50%;
    height: 30px; 
    margin-top: 10px; 
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;   
}

#signin, #googlesignin{
    margin-top:10px;
    background-color: #00BF6F;    
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 50%;
    font-size: 18px;
    border:none;
}

#createaccount{
    margin-top:10px;
    padding-top:10px;
    background-color:#808080;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 50%;
    font-size: 18px;
    border:none;
    text-align:center;
    justify-content: center;
    text-decoration: none;
}

.errorsignin{
    font-family: 'Roboto', sans-serif;    
    font-size: 14px; 
    color:#4B4B4B; 
    text-align: left;
    font-style: italic;
    width: 50%;
}

/*Dispositivos MOBILE Orientation PORTRAIT*/
@media screen and (max-width: 1024px) and (orientation: portrait){   
    /*Elementos de los contenedores para pantallas tamaño tablet*/
    @media (min-height: 860px) and (max-height: 1366px){
        #signinview{        
            width: 100%; 
            height: 100%;        
        }
    
        #logosignin{
            width: 25%;
            height:15%;
        }   

        #signin, #googlesignin,.elementsignin {
            width: 80%;
            height: 40px;
        }

        .errorsignin, #createaccount {            
            width: 80%;
        }
    }

    /*Elementos de los contenedores para pantallas de celular*/
    @media (max-height: 860px) {
        #signinview{        
            width: 100%; 
            height: 100%;        
        }
    
        #logosignin{
            width: 40%;
            height:30%;
        }

        .elementsignin, #signin, #googlesignin{
            width: 80%;
            height: 30px;
        }

        .errorsignin{            
            width: 80%;
        }

        #createaccount{
            padding-top:5px;
            width: 80%;
            height:25px;
        }
    }
}

/*Dispositivos MOBILE Orientation LANDSCAPE*/

/*Dispositivos TABLET Orientation LANDSCAPE*/
@media (max-width: 1366px) and (orientation: landscape)  {
    #logosignin{
        width: 30%;
        height:30%;
    }
}

/*Dispositivos MOBILE Orientation LANDSCAPE */
@media (max-width: 860px) and (orientation: landscape)  {
    #logosignin{
        width: 25%;
        height:25%;
    }

    #signinview{
        width: 70%; 
        height: 100%;
        
    }
    
    #signinview h2 {
        font-size:24px;
    }

    #signinview h5 {
        font-size:16px;
    }
    
    .elementsignin, #signin, #googlesignin {
        width: 70%;
        height: 30px;
    }

    #createaccount{        
        height: 30px;
        width: 70%;     
    }
    
    .errorsignin{        
        width: 70%;
    }
    
}

/*2) ESTILOS templateCreate*/

/*DESKTOP*/
#newaccount {  
    display: flex;   
    flex-direction: column;  
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;   
    background-color:#808080;
    color:white; 
    height: 70vh;     
    align-content: space-around;    
}

#informationsocialnetwork{    
    display: flex; 
    flex-direction: column; 
    flex-wrap:wrap;   
    justify-content: center;      
    width: 50%;
    background-color:white;
    align-content: space-around; 
    color:#4B4B4B; 
    height: 70vh; 
    
}

.element{    
    width: 60%;
    height: 30px; 
    margin-top: 10px; 
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;     
}


.errormessage{      
    font-family: 'Roboto', sans-serif;    
    font-size: 14px; 
    color:white;
    text-align: left;
    margin-left: 0px;
    font-style: italic;
}

.accounttitle{
    font-family: 'Lato', sans-serif; 
    font-size: 32px;
    justify-content: flex-start;
}

.accountparagraph{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    justify-content: flex-start;
    text-align:center;
    padding: 10px 0px;
}

#logo{
    width: 35vh;
    height:35vh;
}

#create{
    background-color: #00BF6F;
    border: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 40px;
    font-size: 18px;
}

/*Dispositivos MOBILE Orientation PORTRAIT*/
@media screen and (max-width: 1024px) and (orientation: portrait){
        
    #containersocialnetwork{
        flex-direction: column;
        height: 100vh;   
        align-items: flex-start;           
    }

    #newaccount {  
        width: 100%; 
        height: 60%;
        margin-right:0px;        
    }    
    
    #informationsocialnetwork{  
        width: 100%;
        height:40%;
        margin-left:0px;        
    }    

    /*Elementos de los contenedores para pantallas tamaño tablet*/
    @media (min-height: 860px) and (max-height: 1366px){
        #logo{
            width: 20vh;
            height:20vh;
        }

        .accounttitle{            
            font-size: 48px;
            justify-content: flex-start;
            font-weight: bold;
        }

        #newaccount h3{            
            font-size: 38px;
            justify-content: flex-start;
        }

        .accountparagraph{            
            font-size: 28px;           
        }

        .element{    
            width: 60%;
            height: 40px; 
            margin-top: 20px;          
            font-size: 22px;            
        }

        #create{
            height: 50px;
            font-size: 28px;
        }

        .errormessage{ 
            width: 60%;
            font-size: 16px;   
        }
    }

    /*Elementos de los contenedores para pantallas de celular*/
    @media (max-height: 860px) {
        #logo{
            width: 20vh;
            height:20vh;
        }

        .accounttitle{            
            font-size: 28px;
            justify-content: flex-start;
        }

        #newaccount h3{            
            font-size: 22p
        }

        .accountparagraph{            
            font-size: 18px;      
            width: 80%;     
        }

        #newaccount h5{            
            font-size: 14px;      
            width: 80%;     
        }

        .element{    
            width: 80%;
            height: 25px; 
            font-size: 18px;            
        }

        #create{
            width: 80%;
            height: 30px;
            font-size: 18px;
        }

        .errormessage{ 
            font-size: 12px;
            width: 80%;   
        }
    }
}

/*Dispositivos TABLET Orientation LANDSCAPE*/
@media (max-width: 1366px) and (orientation: landscape)  {
    #logo{
        width: 20vh;
        height:20vh;
    }

    .element, .errormessage{    
        width: 80%;           
    }

}


/*Dispositivos MOBILE Orientation LANDSCAPE */

@media (max-width: 860px) and (orientation: landscape)  {

    #logo{
        width: 30vh;
        height:30vh;
    }

    #informationsocialnetwork, #newaccount {       
        width: 50%;
        height: 100%;
        margin-left:0px;
    }

    .accounttitle{            
        font-size: 28px;
        justify-content: flex-start;
    }

    #newaccount h3{            
        font-size: 22px;
        justify-content: flex-start;
    }
    
    .accountparagraph{            
        font-size: 18px;      
        width: 80%;     
    }

    #newaccount h5{            
        font-size: 14px;      
        width: 80%;     
    }

    .element{    
        width: 80%;
        height: 20px; 
        font-size: 16px;            
    }

    #create{
        width: 80%;
        height: 30px;
        font-size: 18px;
    }

    .errormessage{ 
        font-size: 12px;
        width: 80%;   
    }
}

/*3) Estilos templateTimeLine y templatePost*/

/*Dispositivos MOBILE Orientation PORTRAIT*/

@media screen and (max-width: 1024px) and (orientation: portrait){   
    @media screen and (max-width: 1366px){
        #navinformation{
            background-color:#00BF6F;
            height:6%;
            width:100%;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position: fixed; 
            align-content:center;
        }
    
        #userinformation{
            margin-top: 60px;         
            width: 80%; 
            background-color:white;        
        }
    
        #text{
            height: 30px;
            width: 80%;        
            border-radius: 30px;
            border: solid grey 1px;
            font-size:16px;
            font-family: 'Lato', sans-serif;
            color:#4B4B4B; 
        }      
    
        #userphoto{
            width: 15%;
            border-radius: 50px;
        }
    
        .brand-logo{
            color:transparent;
        }
    
        #btnprofile, #profile,#up, #btnup, #btnsignout, #logout{           
            height:95%;        
            justify-content: space-between;  
            background-color: transparent; 
            border:none;      
            display:block;      
        }
    
        #backtimeline{
            height:95%;        
            justify-content: flex-start;  
            background-color: transparent; 
            border:none;    
        }
    
        #textpost{        
            width: 80%;
            height:60%;
            border:none;
            font-size:16px;
            padding-top:10px;
            font-family: 'Lato', sans-serif;
            color:#4B4B4B; 
        }
    
        #username{
            font-family: 'Lato', sans-serif;
            font-size:18px;
            color:#4B4B4B; 
            
        }
    
        #post{
            margin-top:10px;
            background-color: #00BF6F;    
            color:white;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            height: 40px;
            width: 80%;
            font-size: 18px;
            border:none;
        }

        .post{
            padding: 10px 0px;
            width:80%;
            color:#4B4B4B; 
            font-family: 'Lato', sans-serif;
            background-color:white;
        }
    }
    
    /*Dispositivos TABLET Orientation PORTRAIT*/
    @media (min-height: 860px) and (max-height: 1366px){
    
        #userinformation{
            margin-top: 100px;         
        }
    
        #text{
            height: 50px;        
            font-size:22px;        
        }  
    
        #username{       
            font-size:28px;                 
        }
    
        #post{
            font-size: 28px;
            height: 60px;
            
        }
    
        #textpost{        
            font-size:24px;
        }
    }   
}

/*Dispositivos MOBILE Orientation LANDSCAPE*/

@media screen and (max-height: 1366px) and (orientation: landscape){   
    @media screen and (max-width: 1025px){

        #sectiontimeline {
            flex-direction: column;
        }

        #navinformation{
            background-color:#00BF6F;
            height:10%;
            width:100%;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position: fixed; 
            align-content:center;
            top: 0px;
        }
    
        #userinformation{
            margin-top: 60px;         
            width: 80%; 
            background-color:white;        
        }
    
        #text{
            height: 30px;
            width: 80%;        
            border-radius: 30px;
            border: solid grey 1px;
            font-size:16px;
            font-family: 'Lato', sans-serif;
            color:#4B4B4B; 
        }      
    
        #userphoto{
            width: 15%;
            border-radius: 50px;
        }
    
        .brand-logo{
            color:transparent;
        }
    
        #btnprofile,#up, #btnup, #btnsignout, #logout{       
            height:95%;        
            justify-content: space-between;  
            background-color: transparent; 
            border:none;           
        }
    
        #backtimeline{
            height:95%;        
            justify-content: flex-start;  
            background-color: transparent; 
            border:none;    
        }
    
        #textpost{        
            width: 80%;
            height:60%;
            border:none;
            font-size:16px;
            padding-top:10px;
            font-family: 'Lato', sans-serif;
            color:#4B4B4B; 
        }
    
        #username{
            font-family: 'Lato', sans-serif;
            font-size:18px;
            color:#4B4B4B; 
            
        }    
        #post{
            margin-top:10px;
            background-color: #00BF6F;    
            color:white;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            height: 40px;
            width: 80%;
            font-size: 18px;
            border:none;
        }

    }
    
    /*Dispositivos TABLET Orientation PORTRAIT*/
    @media (min-width: 860px) and (max-width: 1366px) and (orientation: landscape){
    
        #userinformation{
            margin-top: 120px;         
        }
    
        #text{
            height: 50px;        
            font-size:22px;        
        }  
    
        #username{       
            font-size:28px;                 
        }
    
        #post{
            font-size: 28px;
            height: 60px;
            
        }
    
        #textpost{        
            font-size:24px;
        }
    }   
}

