*{
    margin:0px auto;
    padding: 0px auto;
    font-family: 'Lato', sans-serif; /*Letra parrafos*/
}

/*
-----------------------------------------------------------------------------------------------

1) VISTA templateSignIn

-----------------------------------------------------------------------------------------------
*/

/*DESKTOP*/

.templatesignin{
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-direction: row;   
    height: 100vh;   
    align-items: center;   
}

#logosignin{
    width: 30%;    
}

#signininformation{
    display: flex;   
    flex-direction: column; 
    background-color:white; 
    width: 40%; 
    height: 80%;
    justify-content: center;
}

#signininformation h2, #signininformation h3 {
    color:#4B4B4B; 
}

.elementsignin{
    width: 50%;
    height: 30px; 
    margin-top: 10px; 
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;   
}

#signin, #googlesignin{
    margin-top:10px;
    background-color: #00BF6F;    
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 50%;
    font-size: 18px;
    border:none;
}

#createaccount{
    margin-top:10px;
    padding-top:10px;
    background-color:#808080;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 50%;
    font-size: 18px;
    border:none;
    text-align:center;
    justify-content: center;
    text-decoration: none;
}

.errorsignin{
    font-family: 'Roboto', sans-serif;    
    font-size: 14px; 
    color:#4B4B4B; 
    text-align: left;
    font-style: italic;
    font-weight: bold;
    width: 50%;
}

/*Dispositivos MOBILE Orientation PORTRAIT*/
@media screen and (max-width: 1024px) and (orientation: portrait){   

    /*Elementos de los contenedores para pantallas de celular*/
    @media (max-height: 860px) {
        #signininformation{             
            width: 90%;            
        }
    
        #logosignin{
            width: 40%;            
        }

        .elementsignin, #signin, #googlesignin{
            width: 80%;
            height: 30px;
        }

        .errorsignin{            
            width: 80%;
        }

        #createaccount{
            padding-top:5px;
            width: 80%;
            height:25px;
        }
    }


    /*Elementos de los contenedores para pantallas tamaño tablet*/
    @media (min-height: 860px) and (max-height: 1366px){

        #signininformation{             
            width: 80%;            
        }
        
        #signininformation h2 {
            font-size: 36px;
        }

        #signininformation h3 {
            font-size: 28px;
        }

        #signin, #googlesignin,.elementsignin {
            width: 80%;
            height: 40px;
        }

        .errorsignin, #createaccount {            
            width: 80%;
        }
    }
    
}
    
/*Dispositivos MOBILE Orientation LANDSCAPE */
@media (max-width: 1024px) and (orientation: landscape)  {
    
    .templatesignin{ 
        height: 130vh;  
    }
    
    #logosignin{
        width: 25%;        
    }

    #signininformation{             
        width: 70%;            
    }

    #createaccount{       
        padding-top:0px;
        font-size: 16px;
        height: 30px;  
        
    }
    
    #signin, #googlesignin{        
        font-size: 16px; 
        height: 30px; 
    }

    #signininformation h2 {
        font-size: 20px;
    }

    #signininformation h3 {
        font-size: 18px;
    }

    .elementsignin {        
        height: 20px; 
        font-size: 16px;       
        margin-top:5px;
    }

    .errorsignin{            
        font-size:14px;
    } 

    #signin, #googlesignin, #createaccount, .errorsignin, .elementsignin{
        width: 80%;
    }
}

/*
-----------------------------------------------------------------------------------------------

2) VISTA templateCreateAccount

-----------------------------------------------------------------------------------------------
*/

/*DESKTOP*/

.templatecreate{
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-direction: row;   
    height: 100vh;   
    align-items: center;   
}

#newaccount {  
    display: flex;   
    flex-direction: column;  
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;   
    background-color:#808080;
    color:white; 
    height: 70vh;     
    align-content: space-around;    
}

#informationsocialnetwork{    
    display: flex; 
    flex-direction: column; 
    flex-wrap:wrap;   
    justify-content: center;      
    width: 50%;
    background-color:white;
    align-content: space-around; 
    color:#4B4B4B; 
    height: 70vh; 
    
}

#informationsocialnetwork h2 {
    color:#4B4B4B; 
    font-size: 32px;
}

#informationsocialnetwork h3 {
    color:#4B4B4B; 
    font-size: 28px;
}

#newaccount h2 {    
    font-size: 24px;
}

#newaccount h3  {    
    font-size: 20px;
}

.element{    
    width: 70%;
    height: 30px; 
    margin-top: 10px; 
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;     
}

.errormessage{      
    font-family: 'Roboto', sans-serif;    
    font-size: 14px; 
    color:white;
    text-align: left;
    margin-left: 0px;
    font-style: italic;
}

#create{
    background-color: #00BF6F;
    border: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 40px;
    font-size: 18px;
}

/*Dispositivos MOBILE Orientation PORTRAIT*/
@media screen and (max-width: 1024px) and (orientation: portrait){      

    /*Elementos de los contenedores para pantallas de celular*/
    @media (max-height: 860px) {
        .templatecreate{
            flex-direction: column;  
            height: 130vh;             
        }
        #informationsocialnetwork  {  
            width: 100%;   
            height: 50vh; 
            flex-wrap: nowrap;

        }  

        #newaccount {  
            width: 100%;   
            height: 80vh;                  
        }  

        #informationsocialnetwork a{
            text-align: center;
        }
        
        #logo{
            width: 70%;
        }

        #informationsocialnetwork h2 {            
            font-size: 26px;
        }
        
        #informationsocialnetwork h3 {           
            font-size:22px;
        }
        
        #newaccount h2 {    
            font-size: 22px;
        }
        
        #newaccount h3  {    
            font-size: 18px;
        }

        .element, .errormessage{    
            width: 70%;
            font-size: 16px; 
            margin-top:5px;  
        }

        .errormessage{
            font-size: 14px;   
            font-weight: bold;
        }        
    }
    
}


/*Dispositivos MOBILE Orientation LANDSCAPE */
@media (max-width: 990px) and (orientation: landscape)  {
    .templatecreate{
        flex-direction: column;  
        width: 100%;
        height: 150vh;           
    }
    #informationsocialnetwork  {  
        width: 100%;       
        flex-wrap: wrap; 
        height: 50vh;                          
    } 
    #newaccount {  
        width: 100%;       
        flex-wrap: wrap; 
        height: 100vh;                         
    } 
    
    #informationsocialnetwork a{
        text-align: center;
    }
    
    #logo{
        width: 40%;
    }

    #informationsocialnetwork h2 {            
        font-size: 24px;
    }
    
    #informationsocialnetwork h3, #newaccount h2 {           
        font-size:20px;
    }

    #newaccount h3  {    
        font-size: 16px;
    }

    .element, .errormessage{  
        margin-top: 0px;
        width: 80%;  
        height: 20px;      
        font-size: 16px;     
    }

    .errormessage{
        font-size: 14px;      
    }
    #create{
        height: 30px;
    }
    
}


/*
-----------------------------------------------------------------------------------------------

3) VISTA templateTimeLine y templatePost

-----------------------------------------------------------------------------------------------
*/

.templatetimeline{
    flex-direction: column;  
    width: 100%; 
}

.templatepost{
    flex-direction: column;  
    width: 80%; 
}

.templatetimeline h2{
    margin-top:70px;
    width:80%;
    font-size:20px;
    color:#4B4B4B; 
}

#sectiontimeline h2{
    margin-top:0px;
}

#navinformation{
    top:0px;
    background-color:#00BF6F;
    height:60px;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed; 
    align-content:center;
}

#userinformation{    
    margin-top:20px;      
    width: 80%; 
    background-color:white;        
}

#btnprofile, #profile,#up, #btnup, #btnsignout, #logout, #btnbacktimeline, #backtimeline, #btnreturntimeline, #returntimeline{           
    height:95%;        
    justify-content: space-between;  
    background-color: transparent; 
    border:none;      
    display:block;      
}

#textpost{        
    width: 100%;
    height:350px;
    border:none;
    font-size:16px;
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
    color:#4B4B4B; 
   
}

#backtimeline{
    height:95%;        
    justify-content: flex-start;  
    background-color: transparent; 
    border:none;    
}

#username{
    font-family: 'Lato', sans-serif;
    font-size:18px;
    color:#4B4B4B; 
    
}

#text{
    height: 30px;
    width: 80%;        
    border-radius: 30px;
    border: solid grey 1px;
    font-size:16px;
    font-family: 'Lato', sans-serif;
    color:#4B4B4B; 
}    

#post, #postedit{
    margin-top:10px;
    background-color: #00BF6F;    
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border:none;
}

.postread{
    padding: 5px 0px;
    width:80%;
    color:#4B4B4B;         
    background-color:white;
}

#userphoto{
    width: 9%;
    border-radius: 60px;
}  

#userpost{
    margin-top:60px;
    width:100%;
}

.postread h3{    
    padding: 5px 0px;
}

.postread h4{
    font-family: 'Roboto', sans-serif; 
    padding: 5px 0px;  
}

.btntimeline{
    width: 80%;
    justify-content: flex-end;
}

.btnlike{
    background-color: #808080;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border:none;
}



.btndelete{    
    background-color: #C70039;   
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border:none;
}

.btnupdate{    
    background-color: #FFC300;   
    color:#4B4B4B; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border:none;
}

#posterror{
    color:#C70039;  
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#userprofile{
    display: flex;
    flex-direction: column;
}

#userprofile img{
    width: 30%;
    border-radius: 1000px;
    align-items: center;
    margin-top: 80px;
}


#userprofile h2{
    color:#4B4B4B; 
    padding: 10px 0px;
    font-size: 28px;
 
}
#userprofile h3{
    color:#4B4B4B; 
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}

/*Dispositivos MOBILE Orientation PORTRAIT*/
@media screen and (max-width: 1024px) and (orientation: portrait){   

    #userprofile img{
        width: 20%;            
    }

    #userprofile h2{
        font-size: 24px;         
    }
    #userprofile h3{
        font-size: 18px; 
    }  


    /*Elementos de los contenedores para pantallas de celular*/
    @media (max-height: 860px) {
        #navinformation{
            height:40px;       
        }

        #userphoto{
            width: 15%;
            border-radius: 60px;
        }  

        .postread h3{
            font-size:18px;
            padding: 5px 0px;
        }

        .postread h4{
            font-size:16px;
            font-family: 'Roboto', sans-serif; 
            padding: 5px 0px;  
        }
        
        #userinformation {    
            margin-top:20px;         
            width: 80%;
            background-color: white;
        } 

        .btndelete, .btnupdate, .btnlike{    
            height: 25px;
            width: 80px;
            font-size: 14px;
        }   
        
        #userprofile img{
            width: 25%;            
        }

        #userprofile h2{
            font-size: 24px;         
        }
        #userprofile h3{
            font-size: 18px; 
        }       
        

    }
    
}

/*Dispositivos MOBILE Orientation LANDSCAPE */
@media (max-width: 990px) and (orientation: landscape)  {
    #navinformation{
        height:40px;       
    }

    #userphoto{
        width: 15%;
        border-radius: 60px;
    }  

    .postread h3{
        font-size:18px;
        padding: 5px 0px;
    }

    .postread h4{
        font-size:16px;
        font-family: 'Roboto', sans-serif; 
        padding: 5px 0px;  
    }
    
    #userinformation {
        margin-top:20px;  
        width: 80%;
        background-color: white;
    } 

    #userprofile img{
        width: 12%;            
    }

    #userprofile h2{
        font-size: 20px;         
    }
    #userprofile h3{
        font-size: 16px; 
    }  
    
}

@media (min-width: 990px) and (orientation: landscape)  {
    #userprofile img{
        width: 12%;            
    }

    #userprofile h2{
        font-size: 20px;         
    }
    #userprofile h3{
        font-size: 16px; 
    }  
}